<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/adjustment.css"> -->
    <link rel="stylesheet" href="css/app.css">

</head>

<body>
    <div class="wrapper">
        <!-- main content  -->

        //= partials/_header.html

        <section class="content">
            //= partials/_other.html
        </section>

        //= partials/_footer.html

        <div class="empty"></div>
        <!-- для прибития футера к низу, его высота как у футера -->
    </div>
    <footer>
        <!-- footer  -->
    </footer>
    <script src="js/main.js"></script>
</body>

</html>